body{
  background-color: rgb(235, 242, 244);
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100%;
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: pink;
    align-items: center;
    padding: 10px;
    position: sticky;
    top: 0px;
    color: rgb(18, 123, 126);
  }
  .navbar ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 120px;
    font-family: "Winky Sans", sans-serif;
    font-size: 20px;
    margin-right: 10px;
  }
  .iconcart{
    margin-right: 30px;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
  }
  h1 {
    font-family:"Gravitas One", serif ;
    animation: name duration timing-function delay iteration-count direction fill-mode;
    animation: scoop 7s ease infinite;
  }
  @keyframes scoop{
    25%{
      color: blueviolet;
    }
    45%{
      color: yellowgreen;
    }
    65%{
      color: brown;
      transform: scale(1.1);
    }
    85%{
      color:blue ;
    }
    100%{
      color: forestgreen;
    }
  }
  @keyframes footer{
    25%{
      color: blueviolet;
    }
    45%{
      color: yellowgreen;
    }
    65%{
      color: brown;
    }
    85%{
      color:blue ;
    }
    100%{
      color: forestgreen;
    }
  }
  a{
    color: rgb(18, 123, 126);
  }
  .img{
    background-image: url(about.jpg);
    background-size: cover;
    height: 90vh;
    width: 100%;
  }
  .about{
    height: 90vh;
    width: 100%;
    text-align: center;
  }
  .about h2{
    color: darkmagenta;
    font-family:"Gravitas One", serif ;
  }
  .about p{
    color:rgb(18, 123, 126) ;
    font-size: 20px;
    margin-left: 30px;
    margin-right: 30px;
    word-spacing: 5px;
    font-family: "Winky Sans", sans-serif;

  }
  .contact h2{
    margin-top: 600px;
    text-align: center;
    animation: footer 7s ease infinite ;
    font-family:"Gravitas One", serif ;
  }
  .container3{
    height: 60px;
    width: 100%;
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .iconsocial{
    color: rgb(18, 123, 126);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 20px;
  }
  .fa-twitter{
    border: 1px solid rgb(18, 123, 126);
    border-radius: 50%;
    padding: 7px;
  }
  .fa-facebook{
    border: 1px solid rgb(18, 123, 126);
    border-radius: 50%;
    padding: 7px;
  }
  .fa-instagram{
    border: 1px solid rgb(18, 123, 126);
    border-radius: 50%;
    padding: 7px;
  }
  .fa-linkedin-in{
    border: 1px solid rgb(18, 123, 126);
    border-radius: 50%;
    padding: 7px;
  }
  .navbar label{
    display: none;
  }
  #click:checked~.navbar ul{
    display: block;
  }
  @media screen and (max-width:650px){
    .navbar label{
      display: block;
    }
    .navbar ul{
      display: none;
      position: absolute;
      top: 100px;
      background-color: black;
      width: 100%;
    }
    .navbar ul li{
      padding:10px;
      margin-left: 100px;
    }
  }
  #click{
    display: none;
  }